{% extends "index.html" %}
{% block content%}
<center>
    <p class="section-subtitle" style="margin-top: 170px;">Registration Successful!</p>

          <h2 class="h2 section-title has-underline">
            Your account has been created successfully. You can now log in.
            <span class="span has-before"></span>
          </h2>
    <a href="{% url 'general_login' %}" class="btn btn-primary" style="width: 150px; height: 50px; border-radius: 25px"> Go to Login </a>

</center>
{% endblock %}

