{% extends "a_dashboard.html" %}
{% load static %}
{% block main  %}

    <h2 class="h2 section-title has-underline" style="margin-top: 170px">
            Search for Student by ID
            <span class="span has-before"></span>
          </h2>
    <form method="get">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>

    {% if student %}
        <h2>Student Details</h2>
        <p><strong>ID:</strong> {{ student.student_id }}</p>
        <p><strong>Name:</strong> {{ student.name }}</p>
        <p><strong>Email:</strong> {{ student.email }}</p>
    {% elif form.is_valid %}
        <p>No student found with ID "{{ form.cleaned_data.student_id }}"</p>
    {% endif %}
{% endblock  %}
