<!DOCTYPE html>
<html>
<head>
    <title>All Users</title>
</head>
<body>
    <h1>All Users</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Username</th>
                <th>Date Joined</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.date_joined }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No users found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
