{% extends "a_dashboard.html" %}
{% block main%}
<h1 class="h2 section-title has-underline" style="font-size: 25px; margin: 50px;margin-top: 20px; font-weight: bolder">Users</h1>
        <center>


        <table class="table table-success table-striped" style="border: 2px;border-radius: 20px;width: 70%;height: 20%;">
            <thead>
            <tr>
              <th scope="col">Username</th>
              <th scope="col">Date Joined</th>
            </tr>
          </thead>
          <tbody>
          {% for user in users %}
            <tr>
              <th scope="row">{{ user.username }}</th>
              <td>{{ user.date_joined }}</td>
            </tr>

        {% empty %}
            <h1 class="h2 section-title has-underline" style="font-size: 25px; margin-top: 20px; font-weight: bolder">No users found.</h1>
        {% endfor %}
        </tbody>
        </table>
        </center>
{% endblock %}