{% extends "index.html" %}
{% block content%}
<center>
   <h2 class="h2 section-title has-underline" style="margin-top: 170px;">
            Log In
            <span class="span has-before"></span>
          </h2>
    <form method="POST" style="margin: 50px; background-color: var(--seashell); width: 700px; height: 500px; border-radius: 25px;" action="{% url 'login_student' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" style="border-radius:25px ;background-color: white; width: 300px; height: 50px;"><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" style="border-radius:25px ;background-color: white; width: 300px; height: 50px;"><br><br>
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <input type="submit" class="btn btn-primary" value="Log in" style="width: 150px; height: 50px; border-radius: 25px;">
         {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}
    </form></center>
{% endblock %}